#header {
  background-image: url('../../../content/images/conciertoHeader2.jpg');
  background-position: 50%;
  background-size: cover;
  height: 400px;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}

label,
.form-label {
  margin-bottom: 0 0 8px;
}
.col-8 {
  align-items: center;
}
.p-5 {
  padding: 2% 0 2% 0 !important;
}

.container {
  margin-top: 10px;
}
fa-icon#calendar,
fa-icon#location {
  font-size: 3em;
  color: rgb(30, 91, 244);
  justify-self: center !important;
  align-self: center;
}
