a {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-ser;
}
div.footer {
  padding: 5%;
}
li {
  list-style: none;
}
#ListLanguage {
  font-size: 18px;
}
#logo-img {
  height: 60px;
  width: 60px;
  display: block;
  background: url('../../../content/images/logo-jhipster.png') no-repeat center center;
  background-size: contain;
}
