<div>
  <div class="row justify-content-center" id="header" data-cy="EventHeading">
    <div class="d-flex col-8 align-items-center" style="width: 60%">
      <div class="container text-center">
        <div class="text-white" style="background-color: black; opacity: 80%; padding: 4%">
          <h1 class="display-4">Eventos</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-end">
    <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
      <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
      <span jhiTranslate="mFinder1App.event.home.refreshListLabel">Refrescar lista</span>
    </button>
    <button type="submit" (click)="create()" data-cy="entityCreateButton" class="btn btn-primary jh-create-entity create-event">
      <fa-icon icon="plus"></fa-icon>
      <span jhiTranslate="mFinder1App.event.home.createLabel"> Crear un nuevo Evento </span>
    </button>
  </div>
  <nav ngbNav #nav="ngbNav" class="nav-tabs" [(activeId)]="active" (navChange)="onNavChange($event)">
    <ng-container [ngbNavItem]="1">
      <a ngbNavLink jhiTranslate="mFinder1App.event.nav.all">Todos</a>
      <ng-template ngbNavContent style="width: 500px">
        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <div class="alert alert-warning" id="no-result" *ngIf="events?.length === 0">
          <span jhiTranslate="mFinder1App.event.home.notFound">Ningún Evento encontrado</span>
        </div>
        <div class="container" *ngIf="events && events.length > 0">
          <div class="row" style="margin-top: 12px" *ngFor="let group of getEventGroups()">
            <span class="col-sm-4" *ngFor="let event of group; trackBy: trackId" data-cy="entityTable" style="height: 600px">
              <div class="card justify-content-center align-items-center border border-light" style="height: 600px">
                <img
                  class="card-img-top"
                  *ngIf="event.image"
                  style="width: 20rem; margin-top: 2%; max-height: 250px"
                  [src]="'data:' + event.imageContentType + ';base64,' + event.image"
                />
                <div class="card-body" style="width: 90%">
                  <h3 class="card-title">
                    <span style="font-weight: bold"
                      ><a [routerLink]="['/event', event.id, 'view']">{{ event.name }}</a></span
                    >
                  </h3>
                  <p class="card-text">
                    <span style="color: rgb(221, 65, 65); font-weight: bold"
                      >{{ event.startDate | formatMediumDatetime }}, {{ this.clienteZonaHoraria }}</span
                    >
                  </p>
                  <p class="card-text">
                    <span>
                      <span>{{ event.location }}</span
                      >&nbsp;•&nbsp;
                      <span jhiTranslate="{{ 'mFinder1App.city.' + event.city }}">{{ event.city }}</span>
                    </span>
                  </p>
                  <p class="card-text">
                    <span jhiTranslate="mFinder1App.event.home.tipoEvento"> Tipo de evento</span>
                    <a jhiTranslate="{{ 'mFinder1App.TipoEvento.' + event.tipoEvento }}">{{ event.tipoEvento }}</a>
                  </p>
                </div>
                <p class="card-text" *jhiHasAnyAuthority="'ROLE_ADMIN'">
                  <span> <span jhiTranslate="mFinder1App.event.home.createdBy">Creado por: </span>{{ event.createdBy }} </span>
                </p>
                <div class="card-footer btn-group text-center align-items-center justify-self-center" *jhiHasAnyAuthority="'ROLE_ADMIN'">
                  <button
                    type="submit"
                    queryParamsHandling="merge"
                    [routerLink]="['/event', event.id, 'update-view']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </button>
                  <button type="submit" (click)="delete(event)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
                  </button>
                </div>
              </div>
            </span>
          </div>
        </div>
      </ng-template>
    </ng-container>
    <ng-container [ngbNavItem]="2">
      <a ngbNavLink
        ><span jhiTranslate="mFinder1App.event.nav.byUbication">Por ubicacion</span>&nbsp;<fa-icon icon="map-location-dot"></fa-icon
      ></a>
      <ng-template ngbNavContent>
        <div class="container">
          <p jhiTranslate="mFinder1App.event.byLocation.presentationText">
            Descubre eventos en ciudades seleccionadas según tus preferencias. Encuentra conciertos, festivales y actividades culturales que
            te interesan. Personaliza tu experiencia filtrando por ubicaciones de tu elección. Explora opciones emocionantes y mantente
            actualizado con la escena de eventos local. Nuestra plataforma te brinda acceso a una variedad de eventos en las ciudades que
            amas. Disfruta de una experiencia única y enriquecedora con solo unos clics.
          </p>

          <span style="color: white">Eliga opción de ciudad &nbsp;</span>
          <select [(ngModel)]="this.selectedCity" (change)="this.filtrarEventosPorCiudad()" class="btn btn-secondary dropdown-toggle">
            <option [ngValue]="city" *ngFor="let city of cityValues">
              {{ 'mFinder1App.city.' + city | translate }}
            </option>
          </select>

          <div style="margin-top: 10px" class="alert alert-warning" id="no-result" *ngIf="events?.length === 0">
            <span jhiTranslate="mFinder1App.event.home.notFound">Ningún Evento encontrado</span>
          </div>
        </div>
        <div class="container" *ngIf="events && events.length > 0">
          <div class="row" *ngFor="let group of getEventGroups()" style="margin-top: 12px">
            <span class="col-sm-4" *ngFor="let event of group; trackBy: trackId" data-cy="entityTable" style="height: 600px">
              <div class="card justify-content-center align-items-center border border-light" style="height: 600px">
                <img
                  class="card-img-top"
                  *ngIf="event.image"
                  style="width: 20rem; margin-top: 2%; max-height: 250px"
                  [src]="'data:' + event.imageContentType + ';base64,' + event.image"
                />
                <div class="card-body" style="width: 90%">
                  <h3 class="card-title">
                    <span style="font-weight: bold"
                      ><a [routerLink]="['/event', event.id, 'view']">{{ event.name }}</a></span
                    >
                  </h3>
                  <p class="card-text">
                    <span style="color: rgb(221, 65, 65); font-weight: bold"
                      >{{ event.startDate | formatMediumDatetime }}, {{ this.clienteZonaHoraria }}</span
                    >
                  </p>
                  <p class="card-text">
                    <span>
                      <span>{{ event.location }}</span
                      >&nbsp;•&nbsp;
                      <span jhiTranslate="{{ 'mFinder1App.city.' + event.city }}">{{ event.city }}</span>
                    </span>
                  </p>
                  <p class="card-text">
                    <span jhiTranslate="mFinder1App.event.home.tipoEvento"> Tipo de evento</span>
                    <a jhiTranslate="{{ 'mFinder1App.TipoEvento.' + event.tipoEvento }}">{{ event.tipoEvento }}</a>
                  </p>
                </div>
                <div class="card-footer btn-group text-center align-items-center justify-self-center" *jhiHasAnyAuthority="'ROLE_ADMIN'">
                  <button
                    type="submit"
                    queryParamsHandling="merge"
                    [routerLink]="['/event', event.id, 'update-view']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </button>

                  <button type="submit" (click)="delete(event)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
                  </button>
                </div>
              </div>
            </span>
          </div>
        </div>
      </ng-template>
    </ng-container>
    <ng-container [ngbNavItem]="3">
      <a ngbNavLink
        ><span jhiTranslate="mFinder1App.event.nav.pastEvents">Eventos Pasados</span>&nbsp;<fa-icon icon="hourglass-empty"></fa-icon
      ></a>
      <ng-template ngbNavContent>
        <div class="container">
          <div style="margin-top: 10px" class="alert alert-warning" id="no-result" *ngIf="events?.length === 0">
            <span jhiTranslate="mFinder1App.event.home.notFound">Ningún Evento encontrado</span>
          </div>
        </div>
        <div class="container">
          <p jhiTranslate="mFinder1App.event.pastEvents.description">Descripcion del event</p>
        </div>
        <div class="container" *ngIf="events && events.length > 0">
          <div class="row" *ngFor="let group of getEventGroups()" style="margin-top: 12px">
            <span class="col-sm-4" *ngFor="let event of group; trackBy: trackId" data-cy="entityTable" style="height: 600px">
              <div class="card justify-content-center align-items-center border border-dark" style="height: 600px">
                <img
                  class="card-img-top"
                  *ngIf="event.image"
                  style="width: 20rem; margin-top: 2%; filter: grayscale(100%); max-height: 250px"
                  [src]="'data:' + event.imageContentType + ';base64,' + event.image"
                />
                <div class="card-body" style="width: 90%">
                  <h3 class="card-title">
                    <span style="font-weight: bold"
                      ><a [routerLink]="['/event', event.id, 'view']">{{ event.name }}</a></span
                    >
                  </h3>
                  <p class="card-text">
                    <span style="color: rgb(221, 65, 65); font-weight: bold">
                      {{ event.startDate | formatMediumDatetime }}, {{ this.clienteZonaHoraria }}
                    </span>
                  </p>
                  <p class="card-text">
                    <span>
                      <span>{{ event.location }}</span
                      >&nbsp;•&nbsp;
                      <span jhiTranslate="{{ 'mFinder1App.city.' + event.city }}">{{ event.city }}</span>
                    </span>
                  </p>
                  <p class="card-text">
                    <span jhiTranslate="mFinder1App.event.home.tipoEvento"> Tipo de evento</span>
                    <a jhiTranslate="{{ 'mFinder1App.TipoEvento.' + event.tipoEvento }}">{{ event.tipoEvento }}</a>
                  </p>
                </div>
                <div class="card-footer text-center align-items-center justify-self-center">
                  <div class="btn-comentarios">
                    <button
                      type="submit"
                      queryParamsHandling="merge"
                      [routerLink]="['/rating-event', event.id]"
                      class="btn btn-outline-dark btn-sm"
                      data-cy="entityDetailsButton"
                    >
                      <fa-icon icon="comments"></fa-icon>
                      <span class="d-none d-md-inline">Seccion de comentarios</span>
                    </button>
                  </div>
                  <div class="btn-group" *jhiHasAnyAuthority="'ROLE_ADMIN'">
                    <button
                      type="submit"
                      queryParamsHandling="merge"
                      [routerLink]="['/event', event.id, 'update-view']"
                      class="btn btn-primary btn-sm"
                      data-cy="entityDetailsButton"
                    >
                      <fa-icon icon="eye"></fa-icon>
                      <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                    </button>

                    <button type="submit" (click)="delete(event)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                      <fa-icon icon="times"></fa-icon>
                      <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
                    </button>
                  </div>
                </div>
              </div>
            </span>
          </div>
        </div>
      </ng-template>
    </ng-container>
    <ng-container [ngbNavItem]="4" *jhiHasAnyAuthority="'ROLE_ADMIN'">
      <a ngbNavLink><span jhiTranslate="mFinder1App.event.nav.yourEvents">Tus eventos</span> &nbsp;<fa-icon icon="star"></fa-icon></a>
      <ng-template ngbNavContent>
        <p>
          Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi. Donec egestas
          ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio. Duis pharetra et nisl at
          faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna, egestas ut ipsum vel, volutpat volutpat
          neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec tristique ipsum euismod facilisis. Morbi ut bibendum est,
          eu tincidunt odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac
          lorem aliquet ultricies in eget neque. Phasellus nec tortor vel tellus pulvinar feugiat.
        </p>
        <div class="container">
          <div style="margin-top: 10px" class="alert alert-warning" id="no-result" *ngIf="events?.length === 0">
            <span jhiTranslate="mFinder1App.event.home.notFound">Ningún Evento encontrado</span>
          </div>
        </div>

        <div class="container" *ngIf="events && events.length > 0">
          <div class="row" *ngFor="let group of getEventGroups()" style="margin-top: 12px">
            <span class="col-sm-4" *ngFor="let event of group; trackBy: trackId" data-cy="entityTable" style="height: 600px">
              <div class="card justify-content-center align-items-center border-info" style="height: 600px">
                <img
                  class="card-img-top"
                  *ngIf="event.image"
                  style="width: 20rem; margin-top: 2%; max-height: 250px"
                  [src]="'data:' + event.imageContentType + ';base64,' + event.image"
                />
                <div class="card-body" style="width: 90%">
                  <h3 class="card-title">
                    <span style="font-weight: bold"
                      ><a [routerLink]="['/event', event.id, 'view']">{{ event.name }}</a></span
                    >
                  </h3>
                  <p class="card-text">
                    <span style="color: rgb(221, 65, 65); font-weight: bold">
                      {{ event.startDate | formatMediumDatetime }}, {{ this.clienteZonaHoraria }}
                    </span>
                  </p>
                  <p class="card-text">
                    <span>
                      <span>{{ event.location }}</span
                      >&nbsp;•&nbsp;
                      <span jhiTranslate="{{ 'mFinder1App.city.' + event.city }}">{{ event.city }}</span>
                    </span>
                  </p>
                  <p class="card-text">
                    <span jhiTranslate="mFinder1App.event.home.tipoEvento"> Tipo de evento</span>
                    <a jhiTranslate="{{ 'mFinder1App.TipoEvento.' + event.tipoEvento }}">{{ event.tipoEvento }}</a>
                  </p>
                </div>
                <div class="card-footer btn-group text-center align-items-center justify-self-center" *jhiHasAnyAuthority="'ROLE_ADMIN'">
                  <button
                    type="submit"
                    queryParamsHandling="merge"
                    [routerLink]="['/event', event.id, 'update-view']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </button>

                  <button type="submit" (click)="delete(event)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
                  </button>
                </div>
              </div>
            </span>
          </div>
        </div>
      </ng-template>
    </ng-container>
  </nav>
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
  <div *ngIf="events && events.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
