<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-song-heading" data-cy="SongCreateUpdateHeading" jhiTranslate="mFinder1App.song.home.createOrEditLabel">
        Crear o editar Song
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="mFinder1App.song.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
              Este campo es obligatorio.
            </small>
          </div>
        </div>
        <div class="row mb-3">
          <label class="form-label" jhiTranslate="mFinder1App.song.audio" for="field_audio">Audio</label>
          <div class="col-10">
            <div class="row">
              <div class="col">
                <input
                  type="file"
                  id="file_audio"
                  data-cy="audio"
                  (change)="setFileData($event, 'audio', false)"
                  jhiTranslate="entity.action.addblob"
                />
              </div>
              <div *ngIf="editForm.get('audio')!.value" class="col" style="display: flex; align-items: center; justify-items: center">
                <audio
                  [src]="'data:' + editForm.get('audioContentType')?.value! + ';base64,' + editForm.get('audio')?.value!"
                  controls="controls"
                  preload="none"
                  (loadedmetadata)="getAudioDuration($event)"
                ></audio>
                <button
                  type="button"
                  (click)="editForm.patchValue({ audio: null, audioContentType: null })"
                  class="btn btn-secondary btn-xs align-self-center justify-self-center"
                >
                  <fa-icon icon="times"></fa-icon>
                </button>
              </div>
              <br />
            </div>
          </div>

          <input type="hidden" class="form-control" name="audio" id="field_audio" data-cy="audio" formControlName="audio" />
          <input
            type="hidden"
            class="form-control"
            name="audioContentType"
            id="field_audioContentType"
            formControlName="audioContentType"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="mFinder1App.song.musicGenre" for="field_musicGenre">Music Genre</label>
          <select class="form-control" name="musicGenre" formControlName="musicGenre" id="field_musicGenre" data-cy="musicGenre">
            <option [ngValue]="null">{{ 'mFinder1App.MusicGenre.null' | translate }}</option>
            <option *ngFor="let musicGenre of musicGenreValues" [value]="musicGenre">
              {{ 'mFinder1App.MusicGenre.' + musicGenre | translate }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
