<div>
  <h2 id="page-heading" data-cy="SongHeading">
    <span jhiTranslate="mFinder1App.song.home.title">Songs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="mFinder1App.song.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-song"
        [routerLink]="['/song/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="mFinder1App.song.home.createLabel"> Crear nuevo Song </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="songs?.length === 0">
    <span jhiTranslate="mFinder1App.song.home.notFound">Ningún Songs encontrado</span>
  </div>
  <div class="container" *ngIf="songs && songs.length > 0">
    <div class="row row-cols-md-4 g-3">
      <span *ngFor="let song of songs; trackBy: trackId" data-cy="entityTable">
        <div class="col" style="border-style: solid; color: white">
          <div class="card justify-content-center align-items-center">
            <img
              class="card-img-top"
              *ngIf="song.picture"
              style="width: 100%"
              [src]="'data:' + song.pictureContentType + ';base64,' + song.picture"
            />
            <div class="card-body">
              <h3 class="card-title">
                <span jhiTranslate="mFinder1App.song.name" style="font-weight: bold">Nombre de la canción</span>
                &nbsp;{{ song.name }}
              </h3>
              <p class="card-text">
                <span jhiTranslate="mFinder1App.song.duration">Duration</span>
                &nbsp;{{ song.duration | duration }}
              </p>
              <p class="card-text">
                <span jhiTranslate="mFinder1App.song.artists">Artist</span>
                &nbsp;{{ song.artist }}
              </p>
              <p class="card-text">
                <!-- <span jhiTranslate="mFinder1App.song.audio">Audio</span> -->
                <audio
                  *ngIf="song.audio"
                  [src]="'data:' + song.audioContentType + ';base64,' + song.audio"
                  controls="controls"
                  preload="none"
                ></audio>
              </p>
              <p class="card-text">
                <span jhiTranslate="mFinder1App.song.album">Album</span>
                &nbsp;{{ song.album }}
              </p>
              <div class="btn-group">
                <button type="submit" [routerLink]="['/song', song.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                  <fa-icon icon="eye"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
                </button>

                <button type="submit" [routerLink]="['/song', song.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                  <fa-icon icon="pencil-alt"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                </button>

                <button type="submit" (click)="delete(song)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                  <fa-icon icon="times"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </span>
    </div>
  </div>

  <div *ngIf="songs && songs.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
