<div>
  <h2 id="page-heading" data-cy="SongHeading">
    <span jhiTranslate="mFinder1App.song.home.title">Songs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="mFinder1App.song.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-song"
        [routerLink]="['/song/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="mFinder1App.song.home.createLabel"> Crear nuevo Song </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="songs?.length === 0">
    <span jhiTranslate="mFinder1App.song.home.notFound">Ningún Songs encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="songs && songs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="mFinder1App.song.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="picture">
            <div class="d-flex">
              <span jhiTranslate="mFinder1App.song.picture">Picture</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="duration">
            <div class="d-flex">
              <span jhiTranslate="mFinder1App.song.duration">Duration</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="audio">
            <div class="d-flex">
              <span jhiTranslate="mFinder1App.song.audio">Audio</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="artists">
            <div class="d-flex">
              <span jhiTranslate="mFinder1App.song.artists">Artists</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="musicGenre">
            <div class="d-flex">
              <span jhiTranslate="mFinder1App.song.musicGenre">Music Genre</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="listDetails.id">
            <div class="d-flex">
              <span jhiTranslate="mFinder1App.song.listDetails">List Details</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="album.id">
            <div class="d-flex">
              <span jhiTranslate="mFinder1App.song.album">Album</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let song of songs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/song', song.id, 'view']">{{ song.id }}</a>
          </td>
          <td>{{ song.name }}</td>
          <td>
            <a *ngIf="song.picture" (click)="openFile(song.picture, song.pictureContentType)" jhiTranslate="entity.action.open">Abrir</a>
            <span *ngIf="song.picture">{{ song.pictureContentType }}, {{ byteSize(song.picture) }}</span>
          </td>
          <td title="{{ song.duration }}">{{ song.duration | duration }}</td>
          <td>
            <a *ngIf="song.audio" (click)="openFile(song.audio, song.audioContentType)" jhiTranslate="entity.action.open">Abrir</a>
            <span *ngIf="song.audio">{{ song.audioContentType }}, {{ byteSize(song.audio) }}</span>
          </td>
          <td>{{ song.artists }}</td>
          <td jhiTranslate="{{ 'mFinder1App.MusicGenre.' + song.musicGenre }}">{{ song.musicGenre }}</td>
          <td>
            <div *ngIf="song.listDetails">
              <a [routerLink]="['/list-details', song.listDetails.id, 'view']">{{ song.listDetails.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="song.album">
              <a [routerLink]="['/album', song.album.id, 'view']">{{ song.album.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/song', song.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
              </button>

              <button type="submit" [routerLink]="['/song', song.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(song)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="songs && songs.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
