<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-artist-heading" data-cy="ArtistCreateUpdateHeading" jhiTranslate="mFinder1App.artist.home.createOrEditLabel">
        Crear o editar Artist
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>
        <div class="row mb-3">
          <label class="form-label" jhiTranslate="mFinder1App.artist.userId" for="field_userId">ID</label>
          <select class="form-control" id="field_userId" data-cy="user" name="user" formControlName="user">
            <option [ngValue]="userOption" *ngFor="let userOption of userSharedCollecion">{{ userOption.id }}</option>
          </select>
        </div>
        <div class="row mb-3">
          <label class="form-label" jhiTranslate="mFinder1App.artist.artistName" for="field_artistName">ArtistName</label>
          <input
            type="text"
            class="form-control"
            name="artistName"
            id="field_artistName"
            data-cy="artistName"
            formControlName="artistName"
          />
        </div>
        <div class="row mb-3">
          <label class="form-label" jhiTranslate="mFinder1App.artist.insta_link" for="field_insta_link">Insta Link</label>
          <input
            type="text"
            class="form-control"
            name="insta_link"
            id="field_insta_link"
            data-cy="insta_link"
            formControlName="insta_link"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="mFinder1App.artist.spoti_link" for="field_spoti_link">Spoti Link</label>
          <input
            type="text"
            class="form-control"
            name="spoti_link"
            id="field_spoti_link"
            data-cy="spoti_link"
            formControlName="spoti_link"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
