<div id="register">
  <div class="d-flex justify-content-center">
    <div class="col-md-8">
      <h1 jhiTranslate="registerArtist.title" data-cy="registerTitle">Registro</h1>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <div class="col-md-6" id="contenedordelForm">
      <form name="form" role="form" (ngSubmit)="registerArtist()" [formGroup]="registerArtistForm" *ngIf="!success">
        <div class="mb-2">
          <label class="form-label" for="login" jhiTranslate="global.form.username.label">Usuario</label>
          <input
            type="text"
            class="form-control"
            id="login"
            name="login"
            placeholder="{{ 'global.form.username.placeholder' | translate }}"
            formControlName="login"
            data-cy="username"
            #login
          />

          <div
            *ngIf="
              registerArtistForm.get('login')!.invalid &&
              (registerArtistForm.get('login')!.dirty || registerArtistForm.get('login')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="registerArtistForm.get('login')?.errors?.required"
              jhiTranslate="register.messages.validate.login.required"
            >
              Su nombre de usuario es obligatorio.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="registerArtistForm.get('login')?.errors?.minlength"
              jhiTranslate="register.messages.validate.login.minlength"
            >
              Su nombre de usuario debe tener al menos 1 caracter.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="registerArtistForm.get('login')?.errors?.maxlength"
              jhiTranslate="register.messages.validate.login.maxlength"
            >
              Su nombre de usuario no puede tener más de 50 caracteres.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="registerArtistForm.get('login')?.errors?.pattern"
              jhiTranslate="register.messages.validate.login.pattern"
            >
              Su nombre de usuario no es válido.
            </small>
          </div>
        </div>

        <div class="mb-2">
          <label class="form-label" for="email" jhiTranslate="global.form.email.label">Correo electrónico</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="{{ 'global.form.email.placeholder' | translate }}"
            formControlName="email"
            data-cy="email"
          />

          <div
            *ngIf="
              registerArtistForm.get('email')!.invalid &&
              (registerArtistForm.get('email')!.dirty || registerArtistForm.get('email')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="registerArtistForm.get('email')?.errors?.required"
              jhiTranslate="global.messages.validate.email.required"
            >
              Se requiere un correo electrónico.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="registerArtistForm.get('email')?.errors?.invalid"
              jhiTranslate="global.messages.validate.email.invalid"
            >
              Su correo electrónico no es válido.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="registerArtistForm.get('email')?.errors?.minlength"
              jhiTranslate="global.messages.validate.email.minlength"
            >
              Se requiere que su correo electrónico tenga por lo menos 5 caracteres
            </small>

            <small
              class="form-text text-danger"
              *ngIf="registerArtistForm.get('email')?.errors?.maxlength"
              jhiTranslate="global.messages.validate.email.maxlength"
            >
              Su correo electrónico no puede tener más de 50 caracteres
            </small>
          </div>
        </div>

        <div class="mb-2">
          <label class="form-label" for="artistName" jhiTranslate="global.form.artisticName.label">Nombre artistico</label>
          <input
            type="text"
            class="form-control"
            id="artistName"
            name="artistName"
            placeholder="{{ 'global.form.artisticName.placeholder' | translate }}"
            formControlName="artistName"
            data-cy="artistName"
          />

          <div
            *ngIf="
              registerArtistForm.get('artistName')!.invalid &&
              (registerArtistForm.get('artistName')!.dirty || registerArtistForm.get('artistName')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="registerArtistForm.get('artistName')?.errors?.required"
              jhiTranslate="register.messages.validate.login.requiredArtisticName"
            >
              Su nombre de usuario es obligatorio.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="registerArtistForm.get('artistName')?.errors?.minlength"
              jhiTranslate="register.messages.validate.login.minlengthArtisticName"
            >
              Su nombre de usuario debe tener al menos 1 caracter.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="registerArtistForm.get('artistName')?.errors?.maxlength"
              jhiTranslate="register.messages.validate.login.maxlengthArtisticName"
            >
              Su nombre de usuario no puede tener más de 50 caracteres.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="registerArtistForm.get('artistName')?.errors?.pattern"
              jhiTranslate="register.messages.validate.login.pattern"
            >
              Su nombre de usuario no es válido.
            </small>
          </div>
        </div>
        <div class="mb-2">
          <label class="form-label" for="password" jhiTranslate="global.form.newpassword.label">Nueva contraseña</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="{{ 'global.form.newpassword.placeholder' | translate }}"
            formControlName="password"
            data-cy="firstPassword"
          />

          <div
            *ngIf="
              registerArtistForm.get('password')!.invalid &&
              (registerArtistForm.get('password')!.dirty || registerArtistForm.get('password')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="registerArtistForm.get('password')?.errors?.required"
              jhiTranslate="global.messages.validate.newpassword.required"
            >
              Se requiere que ingrese una contraseña.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="registerArtistForm.get('password')?.errors?.minlength"
              jhiTranslate="global.messages.validate.newpassword.minlength"
            >
              Se requiere que su contraseña tenga por lo menos 4 caracteres
            </small>

            <small
              class="form-text text-danger"
              *ngIf="registerArtistForm.get('password')?.errors?.maxlength"
              jhiTranslate="global.messages.validate.newpassword.maxlength"
            >
              Su contraseña no puede tener más de 50 caracteres
            </small>
          </div>

          <jhi-password-strength-bar
            [passwordToCheck]="registerArtistForm.get('password')!.value"
            style="text-align: center"
          ></jhi-password-strength-bar>
        </div>

        <div class="mb-3">
          <label class="form-label" for="confirmPassword" jhiTranslate="global.form.confirmpassword.label"
            >Confirmación de la nueva contraseña</label
          >
          <input
            type="password"
            class="form-control"
            id="confirmPassword"
            name="confirmPassword"
            placeholder="{{ 'global.form.confirmpassword.placeholder' | translate }}"
            formControlName="confirmPassword"
            data-cy="secondPassword"
          />

          <div
            *ngIf="
              registerArtistForm.get('confirmPassword')!.invalid &&
              (registerArtistForm.get('confirmPassword')!.dirty || registerArtistForm.get('confirmPassword')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="registerArtistForm.get('confirmPassword')?.errors?.required"
              jhiTranslate="global.messages.validate.confirmpassword.required"
            >
              Se requiere que confirme la contraseña.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="registerArtistForm.get('confirmPassword')?.errors?.minlength"
              jhiTranslate="global.messages.validate.confirmpassword.minlength"
            >
              Se requiere que su contraseña de confirmación tenga por lo menos 4 caracteres
            </small>

            <small
              class="form-text text-danger"
              *ngIf="registerArtistForm.get('confirmPassword')?.errors?.maxlength"
              jhiTranslate="global.messages.validate.confirmpassword.maxlength"
            >
              Su contraseña de confirmación no puede tener más de 50 caracteres
            </small>
          </div>
        </div>

        <button
          type="submit"
          [disabled]="registerArtistForm.invalid"
          class="btn btn-primary"
          jhiTranslate="register.form.button"
          data-cy="submit"
        >
          Crear la cuenta
        </button>
      </form>
      <div class="alert alert-success" *ngIf="success" role="alert">
        <p jhiTranslate="sucess.user" style="display: contents; text-align: center">Tu usuario ya ha sido creado</p>
      </div>
    </div>
  </div>
</div>
