/***
    GENERALES
**/
h1 {
  position: center;
}
.row {
  margin-top: 5%;
}
p {
  font-size: 18px;
}
/***
Estrictos

***/
ol {
  list-style-type: disc;
}
.logo-campus {
  height: 100%;
  width: 100%;
  display: block;
  background: url('../../../../content/images/logo_eepigroup.png') no-repeat center center;
  background-size: contain;
  background-color: white;
}
#titulo-logo {
  background-color: rgb(24, 24, 24);
  padding: 2%;
  margin-top: 0;
}
/** FRONT VISTA PLATAFOMRA **/
.container.img {
  background-image: url('../../../../content/images/imagen tio escuchando musica.png');
  background-repeat: no-repeat;
  background-position: 100%;
  height: fit-content;
  padding: 20%;
  padding-left: 2%;
  h2,
  h4 {
    font-family: 'Inter', sans-serif;
  }
}
.container.img .content.img {
  float: left;
}
