<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet" />
<div class="row text-center">
  <div class="col justify-content-center align-self-center">
    <div class="container">
      <div class="text text-aling-center">
        <h1 class="title">El futuro es de los creadores</h1>
        <p>Aficionado o persona influyente, no importa. Esta es tu tienda única para agregegar música a tu contenido.</p>
      </div>
    </div>
  </div>
  <div class="img col">
    <img src="../../content/images/gamer.jpg" class="img-fluid rounded" id="img1" alt="" />
  </div>
</div>
<div class="row text-center">
  <div class="col justify-content-center align-self-center">
    <div class="container">
      <h1 class="title-alone">
        Todo el contenido que se publica durante una prueba o suscripción activa permanece autorizado para siempre.
      </h1>
    </div>
  </div>
</div>
<div class="row text-center">
  <div class="img col">
    <img src="../../content/images/productor.jpg" class="img-fluid rounded" id="img2" alt="" />
  </div>
  <div class="col justify-content-center align-self-center">
    <div class="container">
      <div class="text text-aling-center">
        <h1 class="title">¿Quien puede registrarse?</h1>
        <p>
          Básicamente, todos quienes creen videos, hagan stream o que quieran un public más amplio. Si eres un trabajador independiente,
          puedes registrarte.
        </p>
      </div>
    </div>
  </div>
</div>
