<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet" />
<div class="row text-center">
  <div class="col justify-content-center align-self-center">
    <div class="container">
      <div class="text text-aling-center">
        <h1 class="title" jhiTranslate="mFinder1App.personal-info.titles.one">Goza de nuevos artistas</h1>
        <p jhiTranslate="mFinder1App.personal-info.p.one">Para el que le cueste encontrar nuevos talentos y artistas que seguir.</p>
      </div>
    </div>
  </div>
  <div class="img col justify-content-center align-self-center">
    <img src="../../content/images/persona escuchando musica.jpg" class="img-fluid rounded" id="img1" alt="" />
  </div>
</div>
<div class="row text-center">
  <div class="col justify-content-center align-self-center">
    <div class="container">
      <h1 class="title-alone" jhiTranslate="mFinder1App.personal-info.titles.alone1">
        Todo el contenido que se publica permanece autorizado para siempre.
      </h1>
    </div>
  </div>
</div>
<div class="row text-center">
  <div class="img col justify-content-center align-self-center">
    <img src="../../content/images/persona estudiando escuchando musica.jpg" class="img-fluid rounded" id="img2" alt="" />
  </div>
  <div class="col justify-content-center align-self-center">
    <div class="container">
      <div class="text text-aling-center">
        <h2 class="title" jhiTranslate="mFinder1App.personal-info.titles.two">¿Quien puede registrarse?</h2>
        <p jhiTranslate="mFinder1App.personal-info.p.two">
          Básicamente, aquellas personas que utilizan la música para todo, como estudiar, trabajar , para el gym o simplemente relajarse.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row text-center">
  <div class="col justify-content-center align-self-center">
    <div class="container">
      <div class="text text-aling-center">
        <h2 class="title" jhiTranslate="mFinder1App.personal-info.titles.three">¿Dónde puedo publicar?</h2>
        <p jhiTranslate="mFinder1App.personal-info.p.three">
          Registrándote puedes utilizar la música en la plataforma para tus videos en Youtube, steamings en Twitch e incluso stories de
          Instagram. Todo esto es gracias a la libertad de copyright que tiene la plataforma.
        </p>
      </div>
    </div>
  </div>
  <div class="img col justify-content-center align-self-center">
    <img src="../../content/images/Persona editando vide.jpeg" class="img-fluid rounded" id="img2" alt="" />
  </div>
</div>

<div class="row text-center">
  <div class="col justify-content-center align-self-center">
    <div class="container">
      <div class="text text-aling-center">
        <h2 class="title" jhiTranslate="mFinder1App.personal-info.titles.four">Compromiso con los gustos de cada usuario</h2>
        <p jhiTranslate="mFinder1App.personal-info.p.four">
          Nuestro compromiso con los usuarios es de primera, para ello, hemos dispuesto un test en el que dependiendo de tus elecciones (no
          hay eleccion buena ni mala) te recomendarémos música de algunos de nuestros artistas.
        </p>
        <button type="button" class="btn btn-primary btn-lg">Esto es un botón</button>
      </div>
    </div>
  </div>
  <div class="col justify-content-center align-self-center">
    <div class="container">
      <div class="text text-aling-center">
        <h2 class="title" jhiTranslate="mFinder1App.personal-info.titles.five">¿Qué no está permitido?</h2>
        <p jhiTranslate="mFinder1App.personal-info.p.five">
          Cuidamos la seguridad del usuario y su moral, por lo que cualquier ataque a otro usuario dentro de la platafomra quedará baneado
          permanentemente. Así como también si hay plagio.
        </p>
      </div>
    </div>
  </div>
</div>
