<div class="row" id="titulo-logo">
  <div class="col-8">
    <div class="container text-center">
      <h1 class="display-4" jhiTranslate="perfil-centro.title">CENTRO DE FORMACIÓN</h1>
      <h2>EEP Igroup (Arturo Soria)</h2>
    </div>
  </div>
  <div class="col-3">
    <span class="logo-campus"></span>
  </div>
</div>
<!-- 
    <span>
        <fa-icon icon="home"></fa-icon>
        <span jhiTranslate="global.menu.home">Inicio</span>
    </span>
 -->
<div class="container">
  <div class="row">
    <div class="col">
      <h3 class="title-contact">
        <fa-icon icon="train"></fa-icon>
        <span jhiTranslate="perfil-centro.body.contact-title"> Datos de contacto y transporte </span>
      </h3>
      <ol>
        <li>C/ Torrelaguna, 123, 28043 Madrid</li>
        <li jhiTranslate="perfil-centro.body.contact-number">Telefono de contacto: 91 291 93 13</li>
        <li>CIF: B87495198</li>
      </ol>
    </div>
    <div class="col">
      <h3>
        <fa-icon icon="school"></fa-icon>
        <span jhiTranslate="perfil-centro.body.description-title"> Descripcion </span>
      </h3>
      <p jhiTranslate="perfil-centro.body.description">
        Es un centro de estudios de ciclos formativos de formacion profesional de Grado Medio y Grado Superor entre estos estudios se
        encunetran grados para el ámbito empresas como Marketig y Publicidad, Administración y Finanzas como también para el ámbito
        tecnológico ya sea Desarrollo de Aplicaciones web y Desarrollo de Aplicaciones Multiplataforma. Sus clases se pueden impartir de
        modo presencia, semi-presencial u online.
      </p>
      <p jhiTranslate="perfil-centro.body.description-2">Centro Oficial Homologado por la Consejería de Educación.</p>
    </div>
  </div>
  <div class="row" style="margin-top: 2%">
    <div class="col justify-content-center">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3036.015528350882!2d-3.6630208849364756!3d40.4527932793609!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd422f2ae6bf444b%3A0xe6c4e101855e6c9c!2sEEP%20iGroup%20Arturo%20Soria!5e0!3m2!1ses!2ses!4v1680005334229!5m2!1ses!2ses"
        width="800"
        height="400"
        style="border: 0; margin-left: 20%; margin-right: 20%"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      >
      </iframe>
    </div>
  </div>
</div>
