<!-- jhiTranslate="perfil-centro.title" -->
<div class="row" id="titulo-logo">
  <div class="col">
    <div class="container text-center">
      <h1 class="display-4">PERFIL DE AUTOR</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <span>FOOOOOOOOTO</span>
    </div>
    <div class="col">
      <h2>Detalles</h2>
      <p><b>Nombre:</b> Nicole Peña</p>
      <p><b>Ocupacion: </b> Estudiante de DAM (Desarrollo de Aplicaciones Multiplataforma)</p>
      <h3>Contacto</h3>
      <p><b>Correo: </b> nicolestudio16@gmail.com</p>
      <p><b>Localidad: </b> Madrid (España)</p>
    </div>
  </div>
</div>
