<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet" />
<div class="container img">
  <div class="content img">
    <div class="col-7">
      <h2 jhiTranslate="plataforma.title">Plataforma</h2>
      <h4 jhiTranslate="plataforma.asiSomos">Así somos nosotros: MFinder</h4>
      <p style="color: white" jhiTranslate="plataforma.miniResume">
        Uno de los principales objetivos de MFinder es promover la música de artistas emergentes y menos conocidos.
      </p>
    </div>
  </div>
</div>
<div class="row text-center">
  <div class="col justify-content-center align-self-center">
    <div class="container">
      <div class="text text-aling-center" style="margin-left: 2%">
        <h2 class="title" jhiTranslate="mFinder1App.personal-info.titles.one" style="text-align: left">Goza de nuevos artistas</h2>
        <p style="text-align: left" jhiTranslate="plataforma.discoverNewArtist">Descubir nuevos artistas.</p>
      </div>
    </div>
  </div>
  <div class="img col justify-content-center align-self-center">
    <img src="../../content/images/musicalizaElMundo-produccion.jpg" class="img-fluid rounded" id="img1" alt="" />
  </div>
</div>
<div class="row text-center">
  <div class="img col justify-content-center align-self-center">
    <img src="../../content/images/conciertoGente.jpg" class="img-fluid rounded" id="img2" alt="" />
  </div>
  <div class="col justify-content-center align-self-center">
    <div class="container">
      <div class="text text-aling-center">
        <h2 class="title" style="text-align: left" jhiTranslate="plataforma.titles.centerTitle">
          La música como el centro de todo lo que hacemos
        </h2>
        <p jhiTranslate="plataforma.centerTitle" style="text-align: left">Descripcion de la relacion de MFinder con los artistas.</p>
      </div>
    </div>
  </div>
</div>
<div class="row text-center">
  <div class="col justify-content-center align-self-center">
    <div class="container">
      <div class="text text-aling-center">
        <h2 class="title" style="text-align: left" jhiTranslate="plataforma.titles.contentCreators">
          Potenciar a los creadores se encuentra en nuestro ADN
        </h2>
        <p style="text-align: left" jhiTranslate="plataforma.contentCreators">
          Musica sin derechos de autor para los creadores de contenido
        </p>
      </div>
    </div>
  </div>
  <div class="img col justify-content-center align-self-center">
    <img src="../../content/images/creadorDeContenidoGamer.png" class="img-fluid rounded" id="img2" style="height: 20%" />
  </div>
</div>

<div class="row text-center">
  <div class="col justify-content-center align-self-center">
    <div class="container">
      <div class="text">
        <h2 class="title" style="margin-bottom: 6%; text-align: left; font-size: larger" jhiTranslate="plataforma.titles.register">
          Registrate
        </h2>
        <p style="text-align: left" jhiTranslate="plataforma.register">
          Registrate para que descubras todo lo que la música tiene que ofrecer
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" style="margin: 0" class="btn btn-primary btn-s" jhiTranslate="plataforma.titles.register">
            Esto es un botón
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col justify-content-center align-self-center">
    <div class="container">
      <div class="text text-aling-center">
        <h2 class="title" style="text-align: left; font-size: larger" jhiTranslate="plataforma.titles.found">Encuentra tu sonido</h2>
        <p style="text-align: left" jhiTranslate="plataforma.found">
          Los usuarios pueden utilizar la función de filtrado de género para encontrar su música favorita de una manera más fácil y rápida.
          Al filtrar por género, los usuarios pueden restringir su búsqueda a canciones que pertenecen a un género específico, lo que les
          permite descubrir nuevas canciones y artistas que les gusten.
        </p>
      </div>
    </div>
  </div>
  <div class="col justify-content-center align-self-center">
    <div class="container">
      <div class="text text-aling-center">
        <h2 class="title" style="text-align: left; font-size: larger" jhiTranslate="plataforma.titles.musicalize">Musicaliza el mundo</h2>
        <p style="text-align: left" jhiTranslate="plataforma.musicalize">
          Da vida a tu contenido con la banda sonora perfecta. Nuestra licencia musical te protege en todas las plataformas en línea para
          que puedas enfocarte en crear contenido que inspire a tu audiencia, donde sea que se encuentre.
        </p>
      </div>
    </div>
  </div>
</div>
