<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet" />
<div class="container img">
  <div class="content img">
    <div class="col-7">
      <h2>Plataforma</h2>
      <h4>Así somos nosotros: MFinder</h4>
      <p style="color: white">
        Uno de los principales objetivos de MFinder es promover la música de artistas emergentes y menos conocidos.
      </p>
    </div>
  </div>
</div>
<div class="row text-center">
  <div class="col justify-content-center align-self-center">
    <div class="container">
      <div class="text text-aling-center" style="margin-left: 2%">
        <h2 class="title" jhiTranslate="mFinder1App.personal-info.titles.one" style="text-align: left">Goza de nuevos artistas</h2>
        <p style="text-align: left">
          La página web MFinder es una plataforma diseñada para aquellos amantes de la música que desean descubrir nuevos artistas y sonidos
          que no suelen ser reconocidos por los medios de comunicación tradicionales. Este proyecto surge como trabajo de fin de grado de
          una estudiante apasionada por la música y comprometida con la promoción de talentos emergentes con una interfaz intuitiva, una
          selección cuidadosa de artistas y canciones, y la posibilidad de escuchar música en línea, añadirlas a sus favoritos y descubrir
          nuevos sonidos.
        </p>
      </div>
    </div>
  </div>
  <div class="img col justify-content-center align-self-center">
    <img src="../../content/images/musicalizaElMundo-produccion.jpg" class="img-fluid rounded" id="img1" alt="" />
  </div>
</div>
<div class="row text-center">
  <div class="img col justify-content-center align-self-center">
    <img src="../../content/images/conciertoGente.jpg" class="img-fluid rounded" id="img2" alt="" />
  </div>
  <div class="col justify-content-center align-self-center">
    <div class="container">
      <div class="text text-aling-center">
        <h2 class="title">La música como el centro de todo lo que hacemos</h2>
        <p>
          En MFinder, los artistas tienen la posibilidad de compartir su música y crear perfiles para dar a conocer su trabajo a nivel
          mundial. Cada perfil incluye información sobre el artista, su biografía y enlaces a sus redes sociales. Además, los usuarios de la
          plataforma pueden escuchar la música de los artistas en línea y añadirlas a sus favoritos.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row text-center">
  <div class="col justify-content-center align-self-center">
    <div class="container">
      <div class="text text-aling-center">
        <h2 class="title" style="text-align: left">Potenciar a los creadores se encuentra en nuestro ADN</h2>
        <p style="text-align: left">
          En la plataforma esta habilitada un apartado de musica sin derechos de autor especialmente para que nuestro creadores de contenido
          puedan utilizarla y puedan mejorar el impacto emocional del video, reforzar la narrativa y mejorar la calidad general del
          contenido. MFinder es una plataforma web de música que permite a los creadores de contenido buscar, explorar y acceder a una
          amplia biblioteca de música libre de derechos de autor para utilizar en sus videos. Esta plataforma ofrece una gran variedad de
          géneros musicales, desde música electrónica hasta música clásica, lo que la hace una opción ideal para cualquier tipo de video.
        </p>
      </div>
    </div>
  </div>
  <div class="img col justify-content-center align-self-center">
    <img src="../../content/images/creadorDeContenidoGamer.png" class="img-fluid rounded" id="img2" style="height: 20%" />
  </div>
</div>

<div class="row text-center">
  <div class="col justify-content-center align-self-center">
    <div class="container">
      <div class="text">
        <h2 class="title" style="margin-bottom: 6%; text-align: left; font-size: larger">Registrate</h2>
        <p style="text-align: left">Registrate para que descubras todo lo que la música tiene que ofrecer</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-s">Esto es un botón</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col justify-content-center align-self-center">
    <div class="container">
      <div class="text text-aling-center">
        <h2 class="title" style="text-align: left; font-size: larger">Encuentra tu sonido</h2>
        <p style="text-align: left">
          Los usuarios pueden utilizar la función de filtrado de género para encontrar su música favorita de una manera más fácil y rápida.
          Al filtrar por género, los usuarios pueden restringir su búsqueda a canciones que pertenecen a un género específico, lo que les
          permite descubrir nuevas canciones y artistas que les gusten.
        </p>
      </div>
    </div>
  </div>
  <div class="col justify-content-center align-self-center">
    <div class="container">
      <div class="text text-aling-center">
        <h2 class="title" style="text-align: left; font-size: larger">Musicaliza el mundo</h2>
        <p style="text-align: left">
          Da vida a tu contenido con la banda sonora perfecta. Nuestra licencia musical te protege en todas las plataformas en línea para
          que puedas enfocarte en crear contenido que inspire a tu audiencia, donde sea que se encuentre.
        </p>
      </div>
    </div>
  </div>
</div>
