<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet" />
<div class="row text-center">
  <div class="col justify-content-center align-self-center">
    <div class="container">
      <div class="text text-aling-center">
        <h1 class="title" jhiTranslate="mFinder1App.artist-info.titles.one">El futuro es de los creadores</h1>
        <p jhiTranslate="mFinder1App.artist-info.p.one">
          Aficionado o persona influyente, no importa. Esta es tu plataforma única para agregegar música a tu contenido.
        </p>
      </div>
    </div>
  </div>
  <div class="img col">
    <img src="../../content/images/gamer.jpg" class="img-fluid rounded" id="img1" alt="" />
  </div>
</div>
<div class="row text-center">
  <div class="col justify-content-center align-self-center">
    <div class="container">
      <h1 class="title-alone" jhiTranslate="mFinder1App.artist-info.titles.alone">
        Todo el contenido que se publica permanece autorizado para siempre.
      </h1>
    </div>
  </div>
</div>
<div class="row text-center">
  <div class="img col">
    <img src="../../content/images/productor.jpg" class="img-fluid rounded" id="img2" alt="" />
  </div>
  <div class="col justify-content-center align-self-center">
    <div class="container">
      <div class="text text-aling-center">
        <h1 class="title" jhiTranslate="mFinder1App.artist-info.titles.two">¿Quien puede registrarse?</h1>
        <p jhiTranslate="mFinder1App.artist-info.p.two">
          Básicamente, todos quienes creen videos, hagan stream o artistas que quieran compartir su música. Si eres un trabajador
          independiente, puedes registrarte.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row text-center">
  <div class="col justify-content-center align-self-center">
    <div class="container">
      <div class="text text-aling-center">
        <h2 class="title" jhiTranslate="mFinder1App.artist-info.titles.three">Abierto para cualquier artista</h2>
        <p jhiTranslate="mFinder1App.artist-info.p.three">
          Si eres un artista pequeño que necesita de un público pero que recién estás empezando y sólo quieres compartir tu música esta es
          tu plataforma
        </p>
        <button type="button" class="btn btn-primary btn-lg">Esto es un botón</button>
      </div>
    </div>
  </div>
  <div class="col justify-content-center align-self-center">
    <div class="container">
      <div class="text text-aling-center">
        <h2 class="title" jhiTranslate="mFinder1App.artist-info.titles.four">¿Qué no está permitido?</h2>
        <p jhiTranslate="mFinder1App.artist-info.p.four">
          Cuidamos la seguridad del contenido de nuestros artistas por lo que si ocurre plagio, se sancionará al culplable permanentemente.
        </p>
      </div>
    </div>
  </div>
</div>
