// --------------COSAS DEL FORM
h1 {
  text-align: center;
}
label .form-label {
  text-align: left !important;
  align-self: flex-start;
}
form {
  margin: 0 20% 0 20%;
}

.form-control {
  background-color: rgb(47, 47, 47);
  color: azure;
  width: 100%;
  justify-content: center;
}
.form-control::placeholder {
  color: rgb(165, 163, 163);
}
.form-label {
  color: azure;
}
.btn {
  display: inline;
  width: 100% !important;
}
