<div>
  <h2 id="page-heading" data-cy="ArtistHeading">
    <span jhiTranslate="mFinder1App.artist.home.title">Artists</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="mFinder1App.artist.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-artist"
        [routerLink]="['/artist/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="mFinder1App.artist.home.createLabel"> Crear nuevo Artist </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="artists?.length === 0">
    <span jhiTranslate="mFinder1App.artist.home.notFound">Ningún Artists encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="artists && artists.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col">
            <div class="d-flex">
              <span>Imagen</span>
            </div>
          </th>
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="user.id">
            <div class="d-flex">
              <span jhiTranslate="mFinder1App.artist.userId">user</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="artistName">
            <div class="d-flex">
              <span jhiTranslate="mFinder1App.artist.artistName">Artist Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="insta_link">
            <div class="d-flex">
              <span jhiTranslate="mFinder1App.artist.insta_link">Insta Link</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="spoti_link">
            <div class="d-flex">
              <span jhiTranslate="mFinder1App.artist.spoti_link">Spoti Link</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let artist of artists; trackBy: trackId" data-cy="entityTable">
          <td>
            <img
              *ngIf="artist.image"
              class="profile-image rounded-circle"
              style="width: 100px; height: 100px"
              [src]="'data:' + artist!.imageProfileContentType + ';base64,' + artist!.image"
              alt="Avatar"
            />
          </td>
          <td>
            <a [routerLink]="['/artist', artist.id, 'view']">{{ artist.id }}</a>
          </td>
          <td>
            <div *ngIf="artist.user">
              <a [routerLink]="['/artist/user', artist.user.id, 'view']">{{ artist.user.login }}</a>
            </div>
          </td>
          <td>{{ artist.artistName }}</td>
          <td>{{ artist.insta_link }}</td>
          <td>{{ artist.spoti_link }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/artist', artist.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
              </button>

              <button
                type="submit"
                *jhiHasAnyAuthority="'ROLE_ADMIN'"
                [routerLink]="['/artist', artist.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button
                type="submit"
                *jhiHasAnyAuthority="'ROLE_ADMIN'"
                (click)="delete(artist)"
                class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="artists && artists.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
