/* ==========================================================================
Main page styles
========================================================================== */
h1,
h2,
h3 a,
p {
  color: white;
}
p#description {
  font-size: 18px;
}
h1.display-3 {
  margin-bottom: 25px;
}

p {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5rem;
}
.card #card-title {
  font-size: large;
  text-align: center;
  color: white;
}

// .hipster {
//   display: inline-block;
//   width: 347px;
//   height: 497px;
//   background: url('../../content/images/jhipster_family_member_1.svg') no-repeat center top;
//   background-size: contain;
// }

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/jhipster_family_member_1.svg') no-repeat center top;
    background-size: contain;
  }
}
