<div class="row">
  <div class="col-6" id="column-1">
    <div class="titles">
      <h1>¿How will you use the platform?</h1>
      <p>Pick what is your profile and register</p>
    </div>
    <div class="container">
      <hr />
      <div class="row">
        <a href="">
          <div class="row">
            <div class="col">
              <span>I will play music and nothing more</span>
            </div>
            <div class="col">
              <fa-icon icon="arrow-right"></fa-icon>
            </div>
          </div>
        </a>
      </div>
      <hr />
      <div class="row">
        <a href="">
          <div class="row">
            <div class="col">
              <span>I will share my own music</span>
            </div>
            <div class="col">
              <fa-icon icon="arrow-right"></fa-icon>
            </div>
          </div>
        </a>
      </div>
      <hr />
    </div>
  </div>

  <div class="col-6" id="column-2">
    <div class="img"></div>
  </div>
</div>
