.titles {
  margin: 2em;
}
.container {
  margin-top: 2em;
  // border: 2px solid rgb(67, 67, 249);
}
hr {
  color: rgb(132, 160, 237);
}
.d-flex,
.col-md-8 {
  margin-right: 0;
}
.img {
  background: url('../../content/images/fondo del login.jpg') no-repeat center;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: center;
}

.d-flex {
  display: block !important;
}

fa-icon {
  font-size: 2em;
  margin: 2em;
}
