div.col {
  padding: 0;
}
#column-1 {
  padding: 0;
}
.d-flex,
.col-md-8 {
  margin-right: 0;
}
.img {
  background-image: url('../../../content/images/fondo del login.jpg');
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-attachment: float;
}

.d-flex {
  display: block !important;
}
// --------------COSAS DEL FORM
.form-control {
  background-color: rgb(47, 47, 47);
  color: azure;
}
.form-control::placeholder {
  color: rgb(165, 163, 163);
}
.form-label {
  color: azure;
}
