<div class="row">
  <div class="col-6" id="column-1">
    <div class="titles">
      <h1>¿How will you use the platform?</h1>
      <p>Pick what is your profile and register</p>
    </div>

    <div class="container">
      <hr />

      <div class="row" id="row-enlace">
        <a class="dropdown-item" routerLink="account/register" data-cy="register">
          <div class="row">
            <div class="col align-self-center justify-content-center">
              <span>I will only listen to music</span>
            </div>
            <div class="col-md-4">
              <fa-icon icon="arrow-right"></fa-icon>
            </div>
          </div>
        </a>
      </div>
      <hr />

      <div class="row" id="row-enlace">
        <a class="dropdown-item" routerLink="account/registerArtist" data-cy="register">
          <div class="row">
            <div class="col align-self-center justify-content-center">
              <span>I will share my own music</span>
            </div>
            <div class="col-md-4">
              <fa-icon icon="arrow-right"></fa-icon>
            </div>
          </div>
        </a>
      </div>
      <hr />
    </div>
  </div>

  <div class="col-6" id="column-2">
    <div class="img"></div>
  </div>
</div>
