.profile-image {
  height: 5em;
  width: 5em;
}
.profle-image-message {
  height: 2.5em;
  width: 2.5em;
}
.tab-scroll {
  max-height: 400px; /* Altura máxima del contenedor de desplazamiento */
  overflow-y: scroll; /* Agrega una barra de desplazamiento vertical cuando el contenido excede la altura máxima */
}
