<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet" />
<div>
  <div class="row">
    <div class="col-8">
      <h2 id="page-heading" data-cy="RatingHeading">
        <span jhiTranslate="mFinder1App.rating-event.home.title">Ratings</span>
      </h2>
      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
      </button>
    </div>
    <div class="col-3">
      <div class="card mb-5" style="max-width: 20rem" *ngIf="event">
        <div class="row g-0">
          <div class="col-md-6">
            <img
              class="img-fluid rounded-start"
              alt="..."
              *ngIf="event.image"
              [src]="'data:' + event.imageContentType + ';base64,' + event.image"
            />
          </div>
          <div class="col-md-5">
            <div class="card-body">
              <span style="font-weight: bold"
                ><a class="card-title" [routerLink]="['/event', event.id, 'view']" *ngIf="event.name && event.name.length <= 20">
                  {{ event.name }}</a
                ></span
              >
              <span style="font-weight: bold"
                ><a class="card-title" [routerLink]="['/event', event.id, 'view']" *ngIf="event.name && event.name.length > 20">
                  {{ truncateEventTitle(event.name) }}</a
                ></span
              >
              <p class="card-text" *ngIf="event.description && event.description.length <= 30">{{ event.description }}</p>
              <p class="card-text" *ngIf="event.description && event.description.length > 30">
                {{ truncateEventDescription(event.description) }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="alert alert-warning" id="no-result" *ngIf="ratingEvents?.length === 0">
    <span jhiTranslate="mFinder1App.rating-event.home.notFound">Ningún Ratings encontrado</span>
  </div>
  <div class="container border-dark" style="margin-top: 30px">
    <div
      class="container tab-scroll"
      #commentsContainer
      [ngStyle]="{ 'height.px': commentsContainer.scrollHeight }"
      *ngIf="ratingEvents && ratingEvents.length > 0"
    >
      <div class="row" *ngFor="let ratingEvent of ratingEvents" data-cy="entityTable">
        <div class="col-sm-1" style="width: 70px; padding-right: 0">
          <img
            class="profle-image-message rounded-circle"
            *ngIf="ratingEvent?.image"
            [src]="'data:' + ratingEvent!.imageContentType + ';base64,' + ratingEvent!.image"
          />
        </div>

        <div class="col-md-6" style="padding-left: 0">
          <div style="display: flex">
            <h6 style="margin-right: 10px; font-family: 'Roboto Condensed', sans-serif; font-size: larger">{{ ratingEvent.createdBy }}</h6>
            &nbsp;
            <p>{{ ratingEvent.createdDate | date: 'dd/MM/yy HH:mm' }}</p>
          </div>
          <p style="color: white; font-family: 'Roboto Condensed', sans-serif">{{ ratingEvent.comment }}</p>
        </div>

        <div class="col-sm-2" *jhiHasAnyAuthority="'ROLE_ADMIN'">
          <button type="submit" (click)="delete(ratingEvent)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
            <fa-icon icon="times"></fa-icon>
            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
          </button>
        </div>

        <hr />
      </div>
    </div>
    <!-- Formulario de comentarios -->
    <div class="mt-4">
      <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
        <div class="row justify-content-center">
          <div class="col-md-1 justofy-content-center align-self-center" *ngIf="account?.picture">
            <img
              style="border-style: solid"
              [src]="'data:' + account!.pictureContentType + ';base64,' + account!.picture"
              class="profile-image rounded-circle border-dark mb-3"
              alt="Avatar"
            />
          </div>

          <div class="col-md-6">
            <label for="contentInput" class="form-label">Comment</label>
            <textarea
              (keydown.Enter)="this.save()"
              type="text"
              class="form-control"
              name="comment"
              id="field_comment"
              style="resize: none"
              data-cy="comment"
              formControlName="comment"
              equired
            >
            </textarea>
            <div *ngIf="editForm.get('comment')!.invalid && (editForm.get('comment')!.dirty || editForm.get('comment')!.touched)">
              <small class="form-text text-danger" *ngIf="editForm.get('comment')?.errors?.required"> Este campo es obligatorio. </small>
            </div>
          </div>

          <div class="col-md-4 justify-content-center align-self-center">
            <button type="submit" class="btn btn-primary" [disabled]="editForm.invalid || isSaving">Enviar Comentario</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
