<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="favoriteList">
      <h2 data-cy="favoriteListDetailsHeading"><span jhiTranslate="mFinder1App.favoriteList.detail.title">Favorite List</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ favoriteList.id }}</span>
        </dd>
        <dt><span jhiTranslate="mFinder1App.favoriteList.name">Name</span></dt>
        <dd>
          <span>{{ favoriteList.name }}</span>
        </dd>
        <dt><span jhiTranslate="mFinder1App.favoriteList.picture">Picture</span></dt>
        <dd>
          <div *ngIf="favoriteList.picture">
            <a (click)="openFile(favoriteList.picture, favoriteList.pictureContentType)" jhiTranslate="entity.action.open">Abrir</a>
            {{ favoriteList.pictureContentType }}, {{ byteSize(favoriteList.picture) }}
          </div>
        </dd>
        <dt><span jhiTranslate="mFinder1App.favoriteList.listDetails">List Details</span></dt>
        <dd>
          <div *ngIf="favoriteList.listDetails">
            <a [routerLink]="['/list-details', favoriteList.listDetails.id, 'view']">{{ favoriteList.listDetails.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="mFinder1App.favoriteList.artist">Artist</span></dt>
        <dd>
          <div *ngIf="favoriteList.artist">
            <a [routerLink]="['/artist', favoriteList.artist.id, 'view']">{{ favoriteList.artist.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="mFinder1App.favoriteList.client">Client</span></dt>
        <dd>
          <div *ngIf="favoriteList.client">
            <a [routerLink]="['/client', favoriteList.client.id, 'view']">{{ favoriteList.client.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
      </button>

      <button type="button" [routerLink]="['/favorite-list', favoriteList.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
