<div class="d-flex justify-content-center">
  <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
    <div class="modal-header">
      <h3
        class="modal-title"
        id="jhi-event-heading"
        data-cy="EventCreateUpdateHeading"
        jhiTranslate="mFinder1App.event.home.createOrEditLabel"
      >
        Crear o editar un Evento
      </h3>
    </div>
    <div class="modal-body">
      <jhi-alert-error></jhi-alert-error>
      <!-- <div class="col" *ngIf="editForm.controls.id.value !== null">
                              <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
                              <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />               
        </div> -->

      <div class="row mb-3">
        <div class="col">
          <label class="form-label" jhiTranslate="mFinder1App.event.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
              Este campo es obligatorio.
            </small>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <label class="form-label" jhiTranslate="mFinder1App.event.tipoEvento" for="field_tipoEvento">Tipo de evento</label>
          <select
            class="form-control form-select"
            name="tipoEvento"
            formControlName="tipoEvento"
            id="field_tipoEvento"
            data-cy="tipoEvento"
          >
            <option *ngFor="let tipoEvento of tipoEventoValues" [value]="tipoEvento">
              {{ 'mFinder1App.TipoEvento.' + tipoEvento | translate }}
            </option>
          </select>
        </div>
        <div class="col">
          <label class="form-label" jhiTranslate="mFinder1App.event.image" for="field_image">Image</label>
          <div>
            <div *ngIf="editForm.get('image')!.value" class="form-text text-danger clearfix">
              <a
                class="pull-start"
                (click)="openFile(editForm.get('image')!.value!, editForm.get('imageContentType')!.value!)"
                jhiTranslate="entity.action.open"
                >Abrir</a
              ><br />
              <span class="pull-start">{{ editForm.get('imageContentType')!.value }}, {{ byteSize(editForm.get('image')!.value!) }}</span>
              <button
                type="button"
                (click)="editForm.patchValue({ image: undefined, imageContentType: undefined })"
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_image"
              data-cy="image"
              (change)="setFileData($event, 'image', false)"
              jhiTranslate="entity.action.addblob"
            />
          </div>
          <input type="hidden" class="form-control" name="image" id="field_image" data-cy="image" formControlName="image" />
          <input
            type="hidden"
            class="form-control"
            name="imageContentType"
            id="field_imageContentType"
            formControlName="imageContentType"
          />
        </div>
      </div>

      <div class="row mb-3">
        <div class="col">
          <label class="form-label" jhiTranslate="mFinder1App.event.startDate" for="field_startDate">Event start Date</label>
          <div class="input-group" style="align-items: baseline">
            <input
              id="field_startDate"
              data-cy="startDate"
              type="text"
              class="form-control"
              name="startDate"
              ngbDatepicker
              #startDateDp="ngbDatepicker"
              formControlName="startDate"
              style="height: fit-content"
            />
            <button
              type="button"
              class="btn btn-secondary fixed-top"
              style="height: fit-content; margin-top: 0"
              (click)="startDateDp.toggle()"
            >
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>
        <div class="col">
          <label class="form-label" jhiTranslate="mFinder1App.event.endDate" for="field_endDate">Event end Date</label>
          <div class="input-group" style="align-items: baseline">
            <input
              id="field_endDate"
              data-cy="endDate"
              type="text"
              class="form-control"
              name="endDate"
              ngbDatepicker
              #endDateDp="ngbDatepicker"
              formControlName="endDate"
              style="height: fit-content"
            />
            <button
              type="button"
              class="btn btn-secondary fixed-top"
              style="height: fit-content; margin-top: 0"
              (click)="endDateDp.toggle()"
            >
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <label for="field_startTime"> Hora de comienzo del evento</label>
          <ngb-timepicker class="form-control" id="field_startTime" type="text" minuteStep:5 formControlName="startTime"></ngb-timepicker>
        </div>
        <div class="col">
          <label for="field_endTime"> Hora de comienzo del evento</label>
          <ngb-timepicker class="form-control" id="field_endTime" type="text" minuteStep:5 formControlName="endTime"></ngb-timepicker>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <label class="form-label" jhiTranslate="mFinder1App.event.location" for="field_location">Location</label>
          <input type="text" class="form-control" name="location" id="field_location" data-cy="location" formControlName="location" />
          <div *ngIf="editForm.get('location')!.invalid && (editForm.get('location')!.dirty || editForm.get('location')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('location')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
          </div>
        </div>
        <div class="col">
          <label class="form-label" jhiTranslate="mFinder1App.event.city" for="field_city">City</label>
          <select class="form-control form-select" name="city" formControlName="city" id="field_city" data-cy="city">
            <option *ngFor="let city of cityValues" [value]="city">
              {{ 'mFinder1App.city.' + city | translate }}
            </option>
          </select>
          <div *ngIf="editForm.get('city')!.invalid && (editForm.get('city')!.dirty || editForm.get('city')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('city')?.errors?.required" jhiTranslate="entity.validation.required">
              Este campo es obligatorio.
            </small>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" jhiTranslate="mFinder1App.event.guestArtists" for="field_artists">Artistas invitados</label>
        <select
          class="form-control select"
          multiple
          size="3"
          data-mdb-filter="true"
          name="artist"
          formControlName="artists"
          id="field_artists"
          aria-label="Disabled select example"
        >
          <option *ngFor="let artist of artists" [value]="artist">{{ artist }}</option>
        </select>
      </div>
      <div class="row mb-3" style="margin-right: 0px; margin-left: 0px">
        <label class="form-label" jhiTranslate="mFinder1App.event.description" for="field_description">Event's description</label>
        <textarea
          type="text"
          class="form-control"
          name="description"
          rows="3"
          id="field_description"
          data-cy="description"
          style="resize: none"
          formControlName="description"
        ></textarea>
        <div *ngIf="editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get('description')?.errors?.maxlength"
            jhiTranslate="entity.validation.maxlength"
            [translateValues]="{ max: 100 }"
          >
            Este campo no puede superar más de 100 caracteres.
          </small>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="cancel()" jhiTranslate="entity.action.cancel">
          Close
        </button>
        <button type="submit" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
          <span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </div>
  </form>
</div>
